body {
  margin: 0;
}

@font-face {
  font-family: 'Mermaid';
  src: local('Mermaid'), url(./assets/fonts/Mermaid.ttf) format('truetype');
}

@font-face {
  font-family: 'MermaidSwash';
  src: local('Mermaid_Swash'), url(./assets/fonts/Mermaid_Swash.ttf) format('truetype');
}

@font-face {
  font-family: 'GeosansLight';
  src: local('GeosansLight'), url(./assets/fonts/GeosansLight.ttf) format('truetype');
}
